<nav class="black">
<div class="nav-wrapper">
<a href="#" data-target="main-menu" class="button-collapse show-on-large sidenav-trigger"><i class="fa fa-bars"></i></a>
<div class="center"><a href="/"><img src="/img/Captura.PNG" width="110" height="80"></a>

   <!-- SIDE MENU -->
      <ul class="sidenav" id="main-menu">
        <li>
          <a href="/"><i class="fa fa-cog"></i>Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
